body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-color: #252323;
    font-size: 120%;
  }
  
  .card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    text-align: center;
  }
  
  input.inputtask {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }

  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  .contentloading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
    text-align: center;
  }
  
  .contentloading:after{
    text-align: center;
    visibility:visible;
    /* content: "Loading..."; */
    
  
    /* top: 0;
    left: 20px; */
  } 
  
.deletedata{
  text-decoration: none;
  color: white;
  
}
.deletedata:hover{
  color: #ffffff;
  background-color: rgba(46, 46, 45, 0.555);
  text-decoration: line-through;  
  cursor: pointer;

}
/* @media (min-width: 100px)  {

    
  .card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 320px;
    margin: 1em;
    text-align: center;
  }

}
@media (min-width: 463px)  {

  .card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    text-align: center;
  }

} */